#map {
    width: 75%;
    height: 600px;
}

.legend {
    display: block;
    margin: auto;
}

.mapContainer {
    display: flex;
}

.infoContainer {
    width: 25%;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 10px;
}

.button:hover {
    cursor: pointer;
}

.button label:hover {
    cursor: pointer;
}

.button input:hover {
    cursor: pointer;
}

#mapLegend {
    max-width: 90%;
}

#missingPoints {
    font-weight: bold;
    text-align: center;
}

.tooltip {
    position: absolute;
    opacity: 0;
    background: #ffffff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #dddddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}

.tooltip-label {
    font-weight: 500px;
    font-size: 10px;
    color: #888888;
}