#map {
    width: 75%;
    height: 600px;
}

.legend {
    display: block;
    margin: auto;
}

.mapContainer {
    display: flex;
}

.infoContainer {
    width: 25%;
}

#tooltip {
    position: absolute;
    opacity: 0;
    background: #ffffff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #dddddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}

.tooltip-label {
    font-weight: 500px;
    font-size: 10px;
    color: #888888;
}